.services {
  padding: 0 20px;
  background: var(--background-color);
  background-clip: content-box;
  margin-top: 20px;

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__list {
    margin-top: 45px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 209px;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__images {
    width: 460px;
    padding-right: 18px;
    position: relative;
  }

  &__content {
    width: 460px;
  }

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    color: var(--h1-color);
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--body-text-color);
    margin: 0;
  }

  &__btn {
    margin-top: 30px;
  }

  &__pagination {
    margin-top: 32px;
    position: static;
    width: 295px !important;
    z-index: 3;
  }

  &__navigation {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -100px;
    width: 509px;
    display: flex;
    justify-content: space-between;
  }
}


.services-images {
  &:after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 127px;
    content: '';
    display: block;
    background: linear-gradient(90deg, rgba(245, 245, 247, 0) 0%, rgba(245, 245, 247, 0.01) 6.67%, rgba(245, 245, 247, 0.04) 13.33%, rgba(245, 245, 247, 0.08) 20%, rgba(245, 245, 247, 0.15) 26.67%, rgba(245, 245, 247, 0.23) 33.33%, rgba(245, 245, 247, 0.33) 40%, rgba(245, 245, 247, 0.44) 46.67%, rgba(245, 245, 247, 0.56) 53.33%, rgba(245, 245, 247, 0.67) 60%, rgba(245, 245, 247, 0.77) 66.67%, rgba(245, 245, 247, 0.85) 73.33%, rgba(245, 245, 247, 0.92) 80%, rgba(245, 245, 247, 0.96) 86.67%, rgba(245, 245, 247, 0.99) 93.33%, #f5f5f7 100%);

  }
  &__head {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: var(--h3-text-color);
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    gap: 7px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    &-icon {
      width: 39px;
      height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #D9D9D9;
      border-radius: 50%;
    }
  }
}

.swiper-button--prev,
.swiper-button--next {
  cursor: pointer;
  z-index: 3;
}
