.team {
  padding: 0 20px;
  background: var(--background-color);
  background-clip: content-box;
  margin-top: 20px;

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__list {
    margin-top: 50px;
    position: relative;
  }

  &__pagination {
    position: static;
    margin-top: 50px;
  }
}

.team-user {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: max-content;
  margin: 0;

  &__image {
    width: 454px;
    height: 454px;
  }

  &__content {
    max-width: 530px;
  }

  &__name {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    color: #333;
  }

  &__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #999;
    margin-top: 15px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--body-text-color);
    margin-top: 40px;
  }
}

.team-slider {
  margin-left: 455px;

  &__btn-prev {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__btn-next {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: '';
    width: 296px;
    height: 454px;
    background: linear-gradient(90deg, rgba(245, 245, 247, 0) 0%, rgba(245, 245, 247, 0.01) 6.67%, rgba(245, 245, 247, 0.04) 13.33%, rgba(245, 245, 247, 0.08) 20%, rgba(245, 245, 247, 0.15) 26.67%, rgba(245, 245, 247, 0.23) 33.33%, rgba(245, 245, 247, 0.33) 40%, rgba(245, 245, 247, 0.44) 46.67%, rgba(245, 245, 247, 0.56) 53.33%, rgba(245, 245, 247, 0.67) 60%, rgba(245, 245, 247, 0.77) 66.67%, rgba(245, 245, 247, 0.85) 73.33%, rgba(245, 245, 247, 0.92) 80%, rgba(245, 245, 247, 0.96) 86.67%, rgba(245, 245, 247, 0.99) 93.33%, #f5f5f7 100%);
    z-index: 1;
  }
}
