<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <img src="../img/footer-logo.svg" alt="" loading="lazy" width="150" height="44">
    </div>
    <div class="footer__bottom">
      <div class="footer-col">
        <div class="footer__slogan">Разом до вершини продажів!</div>
        <button class="btn btn--primary footer__btn">Приєднатися</button>
        <div class="footer__copyright">K2 Promo © 2023. All rights reserved.</div>
      </div>
      <div class="footer-col">
        <div class="footer-nav">
          <a href="#" class="footer-nav__link">Робимо</a>
          <a href="#" class="footer-nav__link">Результати</a>
          <a href="#" class="footer-nav__link">Відгуки</a>
          <a href="#" class="footer-nav__link">Блог</a>
          <a href="#" class="footer-nav__link">Кейси</a>
          <a href="#" class="footer-nav__link">Академія</a>
          <a href="#" class="footer-nav__link">Про К2</a>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-contacts">
          <div class="footer-contacts__item">
            <div class="footer-contacts__label">Зателефонуйте нам!</div>
            <a href="tel:+380931707926" class="footer-contacts__value">+380 (93) 17-07-926</a>
          </div>
          <div class="footer-contacts__item">
            <div class="footer-contacts__label">Або заходьте в гості</div>
            <a href="tel:+380931707926" class="footer-contacts__value">м. Львів, вул. Торф'яна, 21, 79019</a>
          </div>
        </div>

        <div class="footer-policy">
          <a href="#" class="footer-policy__link">Політика конфіденційності</a>
          <a href="#" class="footer-policy__link">Згода з розсилкою</a>
          <a href="#" class="footer-policy__link">Відмова від відповідальності</a>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-socials">
          <div class="footer-socials__title">Ми в соціальних мережах</div>
          <div class="footer-socials__list">
            <a href="#" class="footer-socials__item">
              <svg class="" width="14" height="27">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
            <a href="#" class="footer-socials__item">
              <svg class="" width="24" height="17">
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
            <a href="#" class="footer-socials__item">
              <svg class="" width="25" height="27">
                <use xlink:href="img/sprite.svg#viber"></use>
              </svg>
            </a>
            <a href="#" class="footer-socials__item">
              <svg class="" width="25" height="23">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="footer__payment">
          <img src="../img/payment.png" alt="" width="81" height="15">
        </div>
      </div>
    </div>
  </div>
</footer>
