<header class="header">
  <div class="container header__container">
    <div class="header__left">
      <div class="menu-trigger">
        <button
          class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line"></span>
        </button>
        Меню
      </div>
      <a href="/case" class="header__case">
        <svg class="" width="22" height="22">
          <use xlink:href="img/sprite.svg#case"></use>
        </svg>
        Кейси
      </a>
    </div>
    <a href="/" class="header-logo">
      <img src="../img/logo.svg" alt="" class="logo__img" />
    </a>
    <div class="header__right">
      <a href="tel:+380931707926" class="header__tel">+380 93-170-79-26</a>
      <form action="" class="search-form header__search">
        <input type="text" class="search-form__input" />
        <svg class="search-form__icon" width="23" height="23">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </form>
      <div class="lang-switcher">
        <div class="lang-switcher__trigger">UA</div>
        <div class="lang-switcher__list">
          <div class="lang-switcher__item">EN</div>
          <div class="lang-switcher__item">RU</div>
        </div>
      </div>
      <button class="btn btn--primary header__btn">Консультація</button>
    </div>
  </div>
</header>
