<section class="hero section">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="title hero__title">
        НалаштОвуємо рекламу з гарантією за результат
      </h1>
      <p class="hero__subtitle">Збільшуємо продажі або повернемо гроші</p>
      <div class="hero-advantages">
        <div class="hero-advantages__item">
          <div class="hero-advantages__icon-wrapper">
            <svg class="hero-advantages__icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#call"></use>
            </svg>
          </div>
          <div class="hero-advantages__title">Завжди на зв’язку</div>
        </div>
        <div class="hero-advantages__item">
          <div class="hero-advantages__icon-wrapper">
            <svg class="hero-advantages__icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#professional"></use>
            </svg>
          </div>
          <div class="hero-advantages__title">Команда професіоналів</div>
        </div>
        <div class="hero-advantages__item">
          <div class="hero-advantages__icon-wrapper">
            <svg class="hero-advantages__icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
          </div>
          <div class="hero-advantages__title">
            Щотижневі звіти без нагадувань
          </div>
        </div>
      </div>
      <button class="btn hero__btn">Замовити рекламу</button>
      <div class="hero-clients">
        <div class="hero-clients__images-list">
          <img
            src="../img/hero-clients-1.jpg"
            alt=""
            class="hero-clients__images-item"
            loading="lazy"
            width="45"
            height="44"
          />
          <img
            src="../img/hero-clients-2.jpg"
            alt=""
            class="hero-clients__images-item"
            loading="lazy"
            width="45"
            height="44"
          />
          <img
            src="../img/hero-clients-3.jpg"
            alt=""
            class="hero-clients__images-item"
            loading="lazy"
            width="45"
            height="44"
          />
          <img
            src="../img/hero-clients-4.jpg"
            alt=""
            class="hero-clients__images-item"
            loading="lazy"
            width="45"
            height="44"
          />
        </div>
        <div class="hero-clients__text">400+ задоволених клієнтів</div>
      </div>
      <div class="hero-partners">
        <div class="hero-partners__item">
          <img
            src="../img/hero-partner-1.png"
            alt=""
            class="hero-partners__img"
            loading="lazy"
            width="66"
            height="71"
          />
        </div>
        <div class="hero-partners__item">
          <img
            src="../img/hero-partner-2.png"
            alt=""
            class="hero-partners__img"
            loading="lazy"
            width="82"
            height="82"
          />
        </div>
        <div class="hero-partners__item">
          <img
            src="../img/hero-partner-3.png"
            alt=""
            class="hero-partners__img"
            loading="lazy"
            width="75"
            height="54"
          />
        </div>
        <div class="hero-partners__item">
          <img
            src="../img/hero-partner-4.png"
            alt=""
            class="hero-partners__img"
            loading="lazy"
            width="79"
            height="33"
          />
        </div>
      </div>
    </div>
    <img src="../img/hero.png" alt="" class="hero__img" loading="lazy" width="709" height="857" />
  </div>
</section>
