<section class="last-posts">
  <div class="container last-posts__container">
    <h2 class="title">Останнє в блозі</h2>
    <div class="last-posts__list">
      <div class="swiper last-posts-slider ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="last-post">
              <time class="last-post__date">10 жовтня 2023</time>
              <h3 class="last-post__title">ЗА ЩО МИ ПЛАТИМО, КОЛИ ПОКАЗУЄМО РЕКЛАМУ</h3>
              <a href="#" class="last-post__link">ЧИТАТИ статтю</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination last-posts__pagination"></div>
      <div class="last-posts__navigation">
        <svg class="last-posts-slider__btn-prev" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-left"></use>
        </svg>
        <svg class="last-posts-slider__btn-next" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
