<section class="movies">
  <div class="container">
    <div class="movies__list">
      <div class="swiper movies-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>
          <div class="swiper-slide">
            <svg class="movies__control" height="57" width="57">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
            <img alt="" class="movies___poster" height="740" loading="lazy" src="../img/movie-1.png" width="1384">
          </div>

        </div>
      </div>
      <div class="swiper-pagination movies__pagination"></div>
      <div class="movies__navigation">
        <svg class="movies-slider__btn-prev" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-left"></use>
        </svg>
        <svg class="movies-slider__btn-next" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn btn--primary movies__btn">Замовити рекламу</button>
  </div>
</section>
