<section class="platforms">
  <div class="container platforms__container">
    <h2 class="title">Платформи, з якими працюємо</h2>
    <div class="platforms__list">
      <div class="platforms__item">
        <img src="../img/platforms/prom.png" alt="" class="platforms__logo" loading="lazy" width="122" height="64">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/horoshop.png" alt="" class="platforms__logo" loading="lazy" width="164" height="31">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/opencart.png" alt="" class="platforms__logo" loading="lazy" width="183" height="36">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/wordpress.png" alt="" class="platforms__logo" loading="lazy" width="163" height="37">
        <img src="../img/platforms/woocommerce.png" alt="" class="platforms__logo" loading="lazy" width="193" height="47">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/magento.png" alt="" class="platforms__logo" loading="lazy" width="298" height="206">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/okayCMS.svg" alt="" class="platforms__logo" loading="lazy" width="185" height="44">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/shopexpress.png" alt="" class="platforms__logo" loading="lazy" width="173" height="50">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/shopify.png" alt="" class="platforms__logo" loading="lazy" width="170" height="62">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/prestashop.png" alt="" class="platforms__logo" loading="lazy" width="225" height="41">
      </div>
      <div class="platforms__item">
        <img src="../img/platforms/self.png" alt="" class="platforms__logo" loading="lazy" width="94" height="96">
        Самописні рішення
      </div>
    </div>
    <button class="btn btn--primary platforms__btn">Замовити рекламу</button>
  </div>
</section>
