<section class="reasons">
  <div class="container reasons__container">
    <h2 class="title">чому он-лайн продавці обирають к2?</h2>
    <div class="reasons__list">
      <div class="reasons__item">
        <img src="../img/reason-1.png" alt="" class="reasons__img" loading="lazy" width="455" height="300">
        <div class="reasons__content">
          <div class="reasons__name">Google Partner</div>
          <div class="reasons__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</div>
        </div>
      </div>
      <div class="reasons__item">
        <img src="../img/reason-2.png" alt="" class="reasons__img" loading="lazy" width="455" height="300">
        <div class="reasons__content">
          <div class="reasons__name">Завжди на зв’язку</div>
          <div class="reasons__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</div>
        </div>
      </div>
      <div class="reasons__item">
        <img src="../img/reason-3.png" alt="" class="reasons__img" loading="lazy" width="455" height="300">
        <div class="reasons__content">
          <div class="reasons__name">Команда
            професіоналів</div>
          <div class="reasons__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</div>
        </div>
      </div>
      <div class="reasons__item">
        <img src="../img/reason-4.png" alt="" class="reasons__img" loading="lazy" width="455" height="300">
        <div class="reasons__content">
          <div class="reasons__name">Щотижневі звіти
            без нагадувань</div>
          <div class="reasons__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</div>
        </div>
      </div>
      <div class="reasons__item">
        <img src="../img/reason-5.png" alt="" class="reasons__img" loading="lazy" width="455" height="300">
        <div class="reasons__content">
          <div class="reasons__name">Можна звернутися за порадою навіть після завершення співпраці
        </div>
      </div>
    </div>
  </div>
    <button class="btn btn--primary reasons__btn">Замовити рекламу</button>
  </div>
</section>
