<section class="reviews">
  <div class="container reviews__container">
    <h2 class="title">відгуки</h2>
    <div class="reviews__list">
      <div class="swiper reviews-slider ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-1.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Альона Киричок</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Я вражена, дійсно, професійним підходом до своїх клієнтів та роботи. Юрій так тримати!!! Юрій провів аудит мого сайту проаналізовано ринок, дали рекомендацій щодо сайту та подальшого розвитку</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-2.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Наталія Мазур</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Пройшла у К2 практикум по настройці реклами. Все сподобалося, інформація подавалася чітко, конкретно і без зайвої води. Є доступ до матеріалів практикуму, це презентація та відеозапис. Завжди можна переглянути і знайти відповідь на запитання які виникли у ході роботи. Також, допомогли з вирішенням проблеми, з підтвердженням товарів у Google Merchant Center. За що, Юрію, окреме дякую!</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-3.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Альона Киричок</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Рекомендую до співпраці. Приємний колектив, працюють люди, які знають свою роботу та виконують її чудово.
                У важкі часи вторгнення рашистів допомогли налаштувати рекламу, за що дуже вдячний.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-1.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Альона Киричок</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Я вражена, дійсно, професійним підходом до своїх клієнтів та роботи. Юрій так тримати!!! Юрій провів аудит мого сайту проаналізовано ринок, дали рекомендацій щодо сайту та подальшого розвитку</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-2.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Наталія Мазур</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Пройшла у К2 практикум по настройці реклами. Все сподобалося, інформація подавалася чітко, конкретно і без зайвої води. Є доступ до матеріалів практикуму, це презентація та відеозапис. Завжди можна переглянути і знайти відповідь на запитання які виникли у ході роботи. Також, допомогли з вирішенням проблеми, з підтвердженням товарів у Google Merchant Center. За що, Юрію, окреме дякую!</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-3.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Альона Киричок</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Рекомендую до співпраці. Приємний колектив, працюють люди, які знають свою роботу та виконують її чудово.
                У важкі часи вторгнення рашистів допомогли налаштувати рекламу, за що дуже вдячний.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__head">
                <img src="../img/review-3.png" alt="" class="review__author-img" width="130" height="130" loading="lazy">
                <div class="review__inner">
                  <div class="review__author">Альона Киричок</div>
                  <div class="review__rate">
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg class="" width="23" height="23">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="review__text">Рекомендую до співпраці. Приємний колектив, працюють люди, які знають свою роботу та виконують її чудово.
                У важкі часи вторгнення рашистів допомогли налаштувати рекламу, за що дуже вдячний.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination team__pagination"></div>
      <div class="reviews__navigation">
        <svg class="reviews-slider__btn-prev" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-left"></use>
        </svg>
        <svg class="reviews-slider__btn-next" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
