<section class="road">
  <div class="container road__container">
    <div class="road__content">
      <h2 class="road__title"><span>разом</span> до вершини <br> продажів</h2>
      <ul class="road__step-list">
        <li class="road__step road__step--1">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-1"></use>
            </svg>
          </div>
          <div class="road__step-description">1. Заявка на консультацію</div>
        </li>
        <li class="road__step road__step--2">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-2"></use>
            </svg>
          </div>
          <div class="road__step-description">2. Прогноз онлайн продаж (безкоштовно)</div>
        </li>
        <li class="road__step road__step--3">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-3"></use>
            </svg>
          </div>
          <div class="road__step-description">3. Експрес-аудит (безкоштовно)</div>
        </li>
        <li class="road__step road__step--4">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-4"></use>
            </svg>
          </div>
          <div class="road__step-description">4. Консультація (безкоштовно)</div>
        </li>
        <li class="road__step road__step--5">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-5"></use>
            </svg>
          </div>
          <div class="road__step-description">5. Оплата</div>
        </li>
        <li class="road__step road__step--6">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-6"></use>
            </svg>
          </div>
          <div class="road__step-description">6. Брифування</div>
        </li>
        <li class="road__step road__step--7">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-7"></use>
            </svg>
          </div>
          <div class="road__step-description">7. Презентація рекламної стратегії </div>
        </li>
        <li class="road__step road__step--8">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-8"></use>
            </svg>
          </div>
          <div class="road__step-description">8. Налаштування і запуск</div>
        </li>
        <li class="road__step road__step--9">
          <div class="road__icon-wrapper">
            <svg class="road__icon" width="57" height="57">
              <use xlink:href="img/sprite.svg#road-9"></use>
            </svg>
          </div>
          <div class="road__step-description">9. Продажі</div>
        </li>
      </ul>
    </div>
  </div>
</section>
