<section class="services section--bg">
  <div class="container services__container">
    <h2 class="title">Наші послуги</h2>
    <div class="services__list">
      <div class="services__item">
        <div class="services__images">
          <div class="swiper services-images">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Стрічки
                  </div>
                  <img src="../img/service-1-1.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Стрічка
                  </div>
                  <img src="../img/service-1-2.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-3.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-4.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Відео Reels
                  </div>
                  <img src="../img/service-1-5.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
            </div>
            <div class="swiper-pagination services__pagination"></div>
          </div>
          <div class="services__navigation">
            <svg class="swiper-button--prev" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-left"></use>
            </svg>
            <svg class="swiper-button--next" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-right"></use>
            </svg>
          </div>
        </div>
        <div class="services__content">
          <h3 class="services__title">Реклама товарів
            у Google</h3>
          <p class="services__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</p>
          <a href="" class="btn btn--primary services__btn">Замовити рекламу</a>
        </div>
      </div>
      <div class="services__item services__item--reverse">
        <div class="services__images">
          <div class="swiper services-images">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Стрічки
                  </div>
                  <img src="../img/service-1-1.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Стрічка
                  </div>
                  <img src="../img/service-1-2.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-3.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-4.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Відео Reels
                  </div>
                  <img src="../img/service-1-5.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
            </div>
            <div class="swiper-pagination services__pagination"></div>
          </div>
          <div class="services__navigation">
            <svg class="swiper-button--prev" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-left"></use>
            </svg>
            <svg class="swiper-button--next" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-right"></use>
            </svg>
          </div>
        </div>
        <div class="services__content">
          <h3 class="services__title">Реклама товарів
            у Google</h3>
          <p class="services__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</p>
          <a href="" class="btn btn--primary services__btn">Замовити рекламу</a>
        </div>
      </div>
      <div class="services__item">
        <div class="services__images">
          <div class="swiper services-images">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Стрічки
                  </div>
                  <img src="../img/service-1-1.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Стрічка
                  </div>
                  <img src="../img/service-1-2.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-3.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/facebook.png" alt="">
                    </div>
                    Facebook <br>
                    Розповіді
                  </div>
                  <img src="../img/service-1-4.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-images__item">
                  <div class="services-images__head">
                    <div class="services-images__head-icon">
                      <img src="../img/instagram.png" alt="">
                    </div>
                    Instagram <br>
                    Відео Reels
                  </div>
                  <img src="../img/service-1-5.png" alt="" class="services-images__img" loading="lazy" width="295" height="572">
                </div>
              </div>
            </div>
            <div class="swiper-pagination services__pagination"></div>
          </div>
          <div class="services__navigation">
            <svg class="swiper-button--prev" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-left"></use>
            </svg>
            <svg class="swiper-button--next" width="57" height="57">
              <use xlink:href="img/sprite.svg#swiper-right"></use>
            </svg>
          </div>
        </div>
        <div class="services__content">
          <h3 class="services__title">Реклама товарів
            у Google</h3>
          <p class="services__description">Ваші товари будуть бачити найбільш зацікавлені користувачі, які шукають їх у Google. Крім того, оголошення конкретних товарів, які користувач переглядав на сайті чи додав в корзину, будуть додатково супроводжувати його на сайтах погоди, новин, блогах, форумах, YouTube, Gmail та Discovery.</p>
          <a href="" class="btn btn--primary services__btn">Замовити рекламу</a>
        </div>
      </div>
    </div>
  </div>
</section>
