<section class="team">
  <div class="container team__container">
    <h2 class="title">Ці люди допомагають <br>
      збільшити продажі</h2>

    <div class="team__list">
      <div class="swiper team-slider ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="team-user">
              <img alt=""
                   class="team-user__image"
                   height="454"
                   loading="lazy"
                   src="../img/team-1.png"
                   width="454">
              <div class="team-user__content">
                <div class="team-user__name">Юрій</div>
                <div class="team-user__position">Засновник та директор компанії К2</div>
                <div class="team-user__description">Компанія К2 створена для того, щоб бути надійним партером для
                  підприємців, які продають товари он-лайн. Ми допомагаємо продавцям отримувати більше замовлень завдяки
                  правильному налаштуванню ефективної реклами, якої не використовують 90% інтернет-магазинів України.
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-user">
              <img alt=""
                   class="team-user__image"
                   height="454"
                   loading="lazy"
                   src="../img/team-1.png"
                   width="454">
              <div class="team-user__content">
                <div class="team-user__name">Юрій</div>
                <div class="team-user__position">Засновник та директор компанії К2</div>
                <div class="team-user__description">Компанія К2 створена для того, щоб бути надійним партером для
                  підприємців, які продають товари он-лайн. Ми допомагаємо продавцям отримувати більше замовлень завдяки
                  правильному налаштуванню ефективної реклами, якої не використовують 90% інтернет-магазинів України.
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-user">
              <img alt=""
                   class="team-user__image"
                   height="454"
                   loading="lazy"
                   src="../img/team-1.png"
                   width="454">
              <div class="team-user__content">
                <div class="team-user__name">Юрій</div>
                <div class="team-user__position">Засновник та директор компанії К2</div>
                <div class="team-user__description">Компанія К2 створена для того, щоб бути надійним партером для
                  підприємців, які продають товари он-лайн. Ми допомагаємо продавцям отримувати більше замовлень завдяки
                  правильному налаштуванню ефективної реклами, якої не використовують 90% інтернет-магазинів України.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination team__pagination"></div>
      <div class="team__navigation">
        <svg class="team-slider__btn-prev" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-left"></use>
        </svg>
        <svg class="team-slider__btn-next" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
