<section class="youtube">
  <div class="container youtube__container">
    <h2 class="title">найцікавіше на youtube каналі</h2>
    <div class="youtube__list">
      <div class="swiper youtube-slider ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-1.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-2.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-1.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-2.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-1.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-2.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="youtube-item">
              <img src="../img/youtube-1.png" alt="" class="youtube-item__poster" loading="lazy" width="591" height="331">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination youtube__pagination"></div>
      <div class="youtube__navigation">
        <svg class="youtube-slider__btn-prev" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-left"></use>
        </svg>
        <svg class="youtube-slider__btn-next" height="57" width="57">
          <use xlink:href="img/sprite.svg#swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
